@font-face {
    font-family: 'Ubuntu';
    src:
         url('ubuntu-v15-latin-regular.woff2') format('woff2'),
         url('ubuntu-v15-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Fira Sans Bold */
@font-face {
  font-family: 'Ubuntu';
    src:
         url('ubuntu-v15-latin-bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
